*{
	box-sizing: border-box;
}

body {
	background-image: url("../images/cheapDiagonalFabric_background.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
}

header {
	top: 0;
	left: 0;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	width: 100%;
}

section {
	background-color: #ffffff;
	border: 2px solid #dddddd;
	margin: 130px 0px;
	float: left;
	padding: 30px;
}

h1 {
	color: #4aaaa5;
	font-size: 28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

hr {
	border: 1px solid #cccccc;
}

p {
	margin: 20px 0px;
  white-space: pre-line;
}

h2 {
	color: #4aaaa5;
	font-size: 21px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;

}

footer {
	bottom: 0;
	left: 0;
	background-color: #666666;
	width: 100%;
	border-top: 6px solid #4aaaa5;
	color: lightgrey;
	text-align: center;
	font-size: 11px;
	padding: 30px;
}

.sticky {
	position: fixed;
	z-index: 100;
}

.button {
	border-left: 1px solid #cccccc;
	font-size: 18px;
	color: #777777;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	}

.button:active {
    background-color: lightgrey;
    color: #4aaaa5;
    opacity: .5;
}	

.button:hover {
    color: #4aaaa5;
    opacity: .5;
}	

.iconContainer{
	text-align: center;
}

.icon {
	width: 60px;
	margin: 10px 5px 10px 5px;
	display: inline-block;
}

.icon:active {
  background-color: lightgrey;
  border: 2px solid #4aaaa5;
  opacity: .5;
}	

.icon:hover {
	opacity: .75;
}	

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#name {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	font-size: 28px;
	padding: 20px;
	margin-left: 10%;
	overflow: auto;
	float: left;
	font-weight: bold;
}

#nav {
	float: right;
	margin-right: 10%;
	padding: 20px;
}

#about {
	border: none;
}

#mainBody {
	width: 55%;
	margin-left: 10%;
}

#profilePicture {
	width: 250px;
	float: left;
	margin: 20px 20px 10px 0px;
}

#contactIcons {
	margin-left: 4%;
}

.portfolioItems {
	float: left;
	position: relative;
	margin: 3% 3%;
	overflow: auto;
}

.portfolioItems:active {
  background-color: lightgrey;
  opacity: .5;
}	

.portfolioItems:hover {
	opacity: .75;
}	

.portfolioImages {
	width: 270px;
}

.textOverlay {
	position: absolute;
	background-color: #4aaaa5;
	bottom: 30px;
	left: 0px;
	padding: 20px;
	color: white;
	width: 100%;
	text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0px;
    border: 1px solid #dddddd; 
    outline: none;
}

input[type=text]:focus {
    border: 3px solid darkgrey;
    outline: none;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 12px;
    border: 1px solid #dddddd; 
    outline: none;
}

textarea:focus {
    border: 3px solid darkgrey;
    outline: none;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

input[type=submit]:hover {
    background-color: darkgrey;
}

input[type=submit]:active {
    background-color: #4aaaa5;
    opacity: .5;
}

@media screen and (max-width: 980px){
	#nav {
		margin: 0% 5% 0% 0%;
	}

	#mainBody {
		width: 50%;
	}

	#profilePicture {
		width: 100%;
		float: none;
	}

	.portfolioItems {
		width: 90%;
		margin: 5%;
	}

	.portfolioImages {
		width: 95%;
	}

	.textOverlay {
		width: 95%;
	}
}


@media screen and (max-width: 768px){
	section {
		float: none;
		overflow: auto;
	}

	#name {
		margin-left: 5%;
	}

	#mainBody {
		width: 90%;
		margin: 15% 5% 5% 5%;
	}

	#profilePicture {
		width: 250px;
		float: left;
	}

	.portfolioItems {
		width: 40%;
		margin: 5%;
	}

	.portfolioImages {
		width: 95%;
	}

	.textOverlay {
		width: 95%;
	}

	#contactIcons {
		width: 90%;
		margin: 5% 5% 15% 5%;
	}
}

@media screen and (max-width: 640px){
	.sticky {
		position: static;
		overflow: auto;
	}

	#name {
		width: 100%;
		float: none;
		text-align: center;
		margin: 0%;
	}

	#nav {
		text-align: center;
		width: 100%;
		margin: 0%;
	}

	.button {
		padding: 1% 10%;
	}

	#mainBody {
		margin: 5%;
	}

	#profilePicture {
		width: 100%;
		float: none;
	}

	.portfolioItems {
		width: 90%;
		margin: 5%;
	}

	.portfolioImages {
		width: 90%;
		margin: 5%;
	}	

	.textOverlay {
		width: 90%;
		margin: 5%;
	}

	#contactIcons {
		margin: 5%;
	}
}